@import "surfacer/shared";

.ui-kit-index-tabs {
  & .tabs {
    @include tabs;
    margin: $space-small;
  }

  & .accordion {
    @include accordion;
    margin: $space-small;
  }

  & .vertical-tabs {
    @include vertical-tabs($margin-right: $space-small/2);
    @include centered;
    margin: $space-small/2;
  }
}
