@import "surfacer/shared";

.ui-kit-index-tooltip {
  @include card;
  margin: $space-small;
  max-width: $media-tiny;
  [class*=tooltip] {
    color: $primary;
    &:after {
      color: $black;
    }
  }
}
