<nav class="nav--horizontal">
  <ul>
    <li><a href="#" onclick="return false;">Nav link</a></li>
    <li><a href="#" onclick="return false;">Hello</a></li>
    <li><a href="#" onclick="return false;">Contact</a></li>
    <li class="dropdown"><a href="#" onclick="return false;">Dropdown</a>
      <ul>
        <li><a href="#" onclick="return false;">D Link</a></li>
        <li><a href="#" onclick="return false;">D Link</a></li>
        <li><a href="#" onclick="return false;">D Link</a></li>
        <li><a href="#" onclick="return false;">D Link</a></li>
      </ul>
    </li>
    <li><a href="#" onclick="return false;">Portfolio</a></li>
  </ul>
</nav>
