<table>
  <tr class="table-header">
    <td>Number</td>
    <td>Name</td>
    <td>Age</td>
    <td>Job</td>
  </tr>
  <tr>
    <td>521</td>
    <td>Ben</td>
    <td>23</td>
    <td>Front End Dev</td>
  </tr>
  <tr>
    <td>951</td>
    <td>Zoe</td>
    <td>21</td>
    <td>Care Worker</td>
  </tr>
</table>
