<%= nav do %>
  <li><a href="#" onclick="return false;">Nav link</a></li>
  <li><a href="#" onclick="return false;">Hello</a></li>
  <li><a href="#" onclick="return false;">Contact</a></li>
  <%= nav_dropdown 'Dropdown' do %>
    <li><a href="#" onclick="return false;">D Link Test</a></li>
    <li><a href="#" onclick="return false;">D Link</a></li>
    <li><a href="#" onclick="return false;">D Link</a></li>
    <%= nav_dropdown 'Dropdown 2' do %>
      <li><a href="#" onclick="return false;">D Link</a></li>
      <li><a href="#" onclick="return false;">D Link</a></li>
      <%= nav_dropdown 'Dropdown 3' do %>
        <li><a href="#" onclick="return false;">D Link</a></li>
        <li><a href="#" onclick="return false;">D Link</a></li>
      <% end %>
    <% end %>
  <% end %>
  <li><a href="#" onclick="return false;">Portfolio</a></li>
<% end %>
