<a class="theme-kit-link" href="#" onclick="return false">link</a>

<a class="theme-kit-button-link raised-primary" href="#" onclick="return false">raised</a>
<button class="theme-kit-button raised-primary">raised</button>

<a class="theme-kit-button-link float-secondary" href="#" onclick="return false">+</a>
<button class="theme-kit-button float-secondary">+</button>

<a class="theme-kit-button-link flat-null" href="#" onclick="return false">flat</a>
<button class="theme-kit-button flat-null">flat</button>
