<% lorem_ipsum = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ornare elit aliquet, eleifend eros a, viverra nibh. Suspendisse rhoncus sed sem quis placerat. Maecenas sed malesuada ipsum, vel luctus odio. Morbi quis orci eu nisl consequat molestie. Suspendisse tempor nulla sapien, non mattis nibh mollis in." %>

<% (1..3).each do |i| %>
  <div class="collapsible-wrapper">
    <%= collapsible "Collapsible #{i}" do %>
      <%= lorem_ipsum %>
    <% end %>
  </div>
<% end %>
