// https://github.com/IanLunn/Hover/blob/master/scss/effects/border-transitions/_underline-from-left.scss
@mixin link {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
	text-decoration: none;
	color: inherit;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $primary;
    height: 2px;
    transition: right 0.3s ease-out;
  }
  &:hover,
  &:focus,
  &:active {
    &:before {
      right: 0;
    }
  }
}
