@mixin nav {
  z-index: $nav-z-index;
  position: relative;

  // items
  & li {
    display: inline-flex;
    align-items: center;
    outline: 0;
    cursor: pointer;
    position: relative;
    color: $body-background;
    background: $primary;
    padding: $space-small;
    transition: none;
    box-shadow: $box-shadow-raised;
    margin: 2px;
    white-space: nowrap;

    // text with left icon
    & > i {
      color: $accent;
      & + span {
        margin-left: $space-tiny;
      }
    }

    // dropdown
    &:hover,
    &:focus,
    &:active {
      & > ul {
        display: flex;
      }
    }
    &.active,
    &:hover {
      background: lighten($primary, 5%);
      color: white;
    }
    & a:before {
      content: none;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: darken($primary, 5%);
      height: 4px;
      transform: translateY(4px);
    }
  }

  // menu + dropdowns
  & ul {
    z-index: $nav-z-index;
    margin: 0;
  }

  // menu
  & > ul {
    @include flex-container(
      $direction: row,
      $wrap: wrap,
      $justify-content: flex-end,
      $align-items: baseline,
      $align-content: flex-start
    );
    margin-right: $space-small;
  }

  // dropdowns
  & li ul {
    position: absolute;
    @include flex-container(
      $direction: column,
      $wrap: nowrap,
      $justify-content: center,
      $align-items: center,
      $align-content: center
    );
    padding: $space-small;
    right: 0;
    left: auto;
    z-index: $nav-z-index;
    background: $primary;
    box-shadow: $box-shadow-raised;
    display: none;
    & li {
      width: 100%;
    }
  }

  // mobile menu icon item
  & > ul > li:first-of-type {
    display: none;
  }

  @media screen and (max-width: $media-small) {
    position: absolute;
    right: -$space-small;
    top: 0;

    // menu
    & > ul {
      @include flex-container(
        $direction: column,
        $wrap: wrap,
        $justify-content: center,
        $align-items: baseline,
        $align-content: flex-start
      );
      margin-right: $space-small;
    }

    // items
    & li {
      width: 100%;
      padding: $space-tiny;
    }

    // menu items
    & > ul > li {
      display: none;

      // mobile menu icon item
      &:first-of-type {
        display: flex;
        &:focus,
        &:active {
          & ~ li {
            display: flex;
          }
          &:before {
            background: darken($primary, 5%);
          }
        }
        &:before {
          background: $primary;
        }
        &:after {
          content: 'menu';
        }
      }
    }

    // dropdowns
    & li ul {
      position: relative;
      display: flex;
      margin: 0;
      padding: 0;
      margin-left: $space-small;
      margin-top: 3px;
    }
  }
}
