@import "surfacer/shared";

.layouts-theme-kit-typography {
  @include margin-left-right($space-big);
}

.topbar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

header {
  position: fixed;
  z-index: 9999;
}
