@import "surfacer/shared";

main {
  padding-top: $space-big + $space-small;
}

header {
  position: fixed;
  z-index: $header-z-index;
  min-height: $space-big + $space-small;
}

.topbar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.layouts-theme-kit-typography {
  @include margin-left-right($space-big);
}
