<% flash.try(:each) do |alert, message| %>
  <% next if alert == :timedout %>

  <label class="alert-wrapper">
    <input type="checkbox" class="css-toggle" aria-hidden="true">

    <div class="alert-message <%= alert %>">
      <%= message %>
    </div>
  </label>
<% end %>
