<% flash.try(:each) do |alert, message| %>
  <% next if alert == :timedout %>

  <%= css_toggle class: 'alert-wrapper' do |toggle| %>
    <%= toggle %>

    <div class="alert-message <%= alert %>">
      <%= message %>
    </div>
  <% end %>
<% end %>
