@import "surface/shared";

.ui-kit-index {
  & .sections {
    @include flex-container(
      $direction: row,
      $wrap: wrap,
      $justify-content: space-between,
      $align-items: flex-start,
      $align-content: stretch
    );
    @include padding-left-right($space-small);
    @include margin-left-right($space-big);

    & .block-of-two {
      flex-grow: 1;

      @include flex-container(
        $direction: row,
        $wrap: wrap,
        $justify-content: space-around,
        $align-items: baseline,
        $align-content: center
      );
    }
  }

  & .popups {
    @include flex-container(
      $direction: row,
      $wrap: wrap,
      $justify-content: center,
      $align-items: center,
      $align-content: center
    );
  }

  & .ui-kit-index-typography {
    @include margin-left-right($space-big);
  }

  & .ui-kit-index-tables {
    @include card;
    margin: $space-small;
  }
}
