@import "surface/mixins";

.ui-kit-index {
  max-width: $media-med;
  @include margin-left-right(auto);
  margin-bottom: $space-big;

  & .sections {
    @include flex-container(
      $direction: row,
      $wrap: wrap,
      $justify-content: space-between,
      $align-items: flex-start,
      $align-content: stretch
    );
    @include padding-left-right($space-small);

    & .block-of-two {
      flex-grow: 1;

      @include flex-container(
        $direction: row,
        $wrap: wrap,
        $justify-content: space-around,
        $align-items: baseline,
        $align-content: center
      );
    }
  }

  & .popups {
    @include flex-container(
      $direction: row,
      $wrap: wrap,
      $justify-content: center,
      $align-items: center,
      $align-content: center
    );
  }

  & .ui-kit-index-typography,
  & .ui-kit-index-tables {
    @include card;
    @include margin-top-bottom($space-small);
  }
}
