<ul>
  <li tabindex="0" class="material-icons"></li>
  <li><a href="#" onclick="return false;">Nav link</a></li>
  <li><a href="#" onclick="return false;">Hello</a></li>
  <li><a href="#" onclick="return false;">Contact</a></li>
  <li tabindex="0">
    Dropdown
    <ul>
      <li><a href="#" onclick="return false;">D Link Test</a></li>
      <li><a href="#" onclick="return false;">D Link</a></li>
      <li><a href="#" onclick="return false;">D Link</a></li>
      <li><a href="#" onclick="return false;">D Link</a></li>
    </ul>
  </li>
  <li><a href="#" onclick="return false;">Portfolio</a></li>
</ul>
