@mixin alerts {
	& .alert-wrapper {
		position: relative;
		cursor: pointer;
	}

	& .css-click {
		display: none;

		&:checked + .alert-message {
			display: none;
		}
	}

	& .alert-message {
		@include card;
		position: relative;
		text-align: center;
		padding: $flash-padding;
		margin: $flash-margin;

		@each $state, $colors in $flash-states {
			&.#{$state} {
				color: map-get($colors, text);
				background-color: map-get($colors, background);
			}
		}
	}
}
