// Greens
$turqoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;

// Blues
$river: #3498db;
$belize: #2980b9;
$asphalt: #34495e;
$midnight-blue: #2c3e50;
$blue: #2196f3;
$light-blue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;

// Reds
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$red: #f44336;

// Oranges
$carrot: #e67e22;
$pumpkin: #d35400;
$dull-orange: #f39c12;
$orange: #ff9800;
$blood-orange: #ff5722;
$amber: #ffc107;

// Yellows
$sunflower: #f1c40f;
$yellow: #ffeb3b;

// Purples + Pinks
$amethyst: #9b59b6;
$plum: #8e44ad;
$purple: #9c27b0;
$deep-purple: #673ab7;
$pink: #e91e63;
$indigo: #3f51b5;

// Browns
$brown: #795548;

// Greys
$grey: #9e9e9e;
$gun-metal: #607d8b;
$asbestos: #7f8c8d;
$concrete: #95a5a6;
$silver: #bdc3c7;

// Whites
$clouds: #dde4e6;
$paper: #efefef;

// Blacks
$black: #212121;

// Type
$serif: Roboto, serif !default;
$sans: Roboto, sans-serif !default;
$font-small: 12px !default;
$font-med: 16px !default;
$font-big: 22px !default;
$font-huge: 40px !default;
$line-height: 130% !default;

// Colors
$primary: $midnight-blue !default;
$secondary: lighten($midnight-blue, 10%) !default;
$accent: $teal !default;

$body-background: $paper !default;

// Decorative
$box-shadow-card: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09) !default;
$box-shadow-float: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !default;
$box-shadow-float-hover: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !default;
$box-shadow-raised: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !default;
$box-shadow-raised-hover: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !default;

$cubic: cubic-bezier(.64,.09,.08,1) !default;

$border-radius-small: 0 !default;
$border-radius-med: 6px !default; 
$border-radius-big: 10px !default; 

// Spacing
$space-big: 40px !default;
$space-med: 20px !default;
$space-small: 10px !default;
$space-tiny: 5px !default;

// Media Queries
$media-med: 1200px !default;
$media-small: 900px !default;
$media-tiny: 520px !default;

// Flash Message States
$flash-states: (
  notice: (text: darken($blue, 40%), background: transparentize($blue, 0.40)),
  success: (text: darken($green, 40%), background: transparentize($green, 0.40)),
  warning: (text: darken($yellow, 50%), background: transparentize($yellow, 0.45)),
  error: (text: darken($red, 40%), background: transparentize($red, 0.40))
);

// Fade in
$fade-in-translation: $space-small;
$fade-in-directions: (top bottom left right);

// Buttons
$button-float-size: 50px !default;

// Characters
$nbsp: '\00a0';

// TODO z-indexes
$tooltip-z-index: 10;
